<div>
  <%= link_to "Month View", calendar_month_path(date: @date), class: "btn btn-info" %>
  <%= link_to "Weekly View", calendar_week_path(date: @date), class: "btn btn-info" %>
  <%= link_to "Day View", calendar_day_path(date: @date), class: "btn btn-info" %>
</div>
